.Header {
    background-color: teal;
    height: 70px;
    padding: 5px 0 15px 0;
    color: rgb(27, 1, 129);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: center;
}